<div class="back-button-container">
  <a mat-fab extended routerLink="/hotel-list">
    <mat-icon>home</mat-icon>
    Back to the List
  </a>
</div>
@if(hotel) {
<mat-card class="admin__details_card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="admin__details_header-image"></div>
    <mat-card-title>{{ hotel.name }}</mat-card-title>
    <mat-card-subtitle>Gyula</mat-card-subtitle>
  </mat-card-header>
  <form [formGroup]="hotelForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <img [src]="hotel.imageUrl" alt="Hotel Image" />
      <div class="hotel-card">
        <mat-form-field>
          <mat-label>Ár</mat-label>
          <input
            autocomplete="off"
            formControlName="pricePerNight"
            type="number"
            matInput
            placeholder="Ár"
            value="Ár"
          />
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            formControlName="openingDate"
            placeholder="Start date"
          />
          <input
            matEndDate
            formControlName="closingDate"
            placeholder="End date"
          />
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        @if (hotelForm.controls['openingDate'].hasError('matStartDateInvalid'))
        {
        <mat-error>Invalid start date</mat-error>
        } @if (hotelForm.controls['closingDate'].hasError('matEndDateInvalid'))
        {
        <mat-error>Invalid end date</mat-error>
        }
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit">MENTÉS</button>
      <a mat-button (click)="deleteHotel()">TÖRLÉS</a>
    </mat-card-actions>
  </form>
</mat-card>
}
