:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }  