Signup
<br />
<br />
<a mat-raised-button color="primary" routerLink="/home">
  <mat-icon>home</mat-icon>
  <span>Home</span>
</a>
<div class="registration-container">
  <mat-card class="form-card">
    <form [formGroup]="signupForm" (ngSubmit)="signup()">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            formControlName="email"
            type="email"
            matInput
            placeholder="Email"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>UserName</mat-label>
          <input
            autocomplete="off"
            formControlName="username"
            type="text"
            matInput
            placeholder="username"
          />
        </mat-form-field>
      </p>
      <!-- <p>
        <mat-form-field appearance="outline">
          <mat-label>Full Name</mat-label>
          <input
            autocomplete="off"
            formControlName="displayName"
            type="text"
            matInput
            placeholder="Display Name"
          />
        </mat-form-field>
      </p> -->
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            autocomplete="off"
            formControlName="password"
            type="password"
            matInput
            placeholder="Password"
          />
        </mat-form-field>
      </p>
      <div if="firebaseErrorMessage != ''" class="error-style">
        <span>{{ errorMessage }}</span>
      </div>

      <a mat-raised-button color="primary" (click)="signup()">Signup</a>
    </form>
  </mat-card>
</div>

<div
  class="progressIndicator"
  [style.display]="isProgressVisible ? 'inline' : 'none'"
>
  <mat-progress-spinner
    class="example-margin"
    color="primary"
    mode="indeterminate"
  ></mat-progress-spinner>
</div>
