<nav>
  <div class="nav-container">
    <div class="nav-button-container">
      <a mat-fab extended routerLink="/home">
        <mat-icon>home</mat-icon>
        Home
      </a>
    </div>
    <div class="nav-button-container">
      <a mat-fab extended routerLink="/hotel-detail/1">
        <!-- <a mat-fab extended routerLink="/hotel-detail/:id"> -->
        <mat-icon>hotel</mat-icon>
        Hotel EndPage
      </a>
    </div>

    @if (auth.currentUserSig() == null) {
    <div class="nav-button-container">
      <a mat-fab extended routerLink="/registration">
        <mat-icon>login</mat-icon>
        Registration
      </a>
    </div>
    <div class="nav-button-container">
      <a mat-fab extended routerLink="/login">
        <mat-icon>login</mat-icon>
        Login</a
      >
    </div>

    } @if (auth.currentUserSig()) {
    <div class="nav-button-container">
      <a mat-fab extended routerLink="/dashboard">
        <mat-icon>code</mat-icon>
        {{ auth.currentUserSig()?.username }}
      </a>
    </div>
    <div class="nav-button-container">
      <a mat-fab extended (click)="logout()">
        <mat-icon>login</mat-icon>
        LogOut</a
      >
    </div>
    }
  </div>
</nav>