:host {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// $breakpoints: (
//   xs: 0px,
//   sm: 600px,
//   md: 960px,
//   lg: 1280px,
//   xl: 1920px,
// );
// $breakpoint-keys: map-keys($breakpoints);

// @mixin responsive($size) {
//   $query: map-get(
//     $breakpoints: $size,
//   );
//   @media #{$query} {
//     @content;
//   }
// }
// @include responsive(sm) {
//   nav {
//     display: none;
//   }
// }
$breakpoint: 810px;

.admin__container_mobile {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.admin__is-mobile .admin__toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.admin__toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #4682b4;
}

h1.admin__app-name {
  margin-left: 8px;
}

.admin__sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
  causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.admin__is-mobile .admin__sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}


@media screen and (max-width: $breakpoint) {
  .admin__container_desktop  {
    display: none;
  }
}

main {
  width: 100%;
  // min-height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  box-sizing: inherit;
  position: relative;
}

h1 {
  font-size: 3.125rem;
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

p {
  margin: 0;
  color: var(--gray-700);
}
