<div
  class="hotel-list-container"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
>
  @for (hotel of hotels$; track hotel) {
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ hotel.name }}</mat-card-title>
      <mat-card-subtitle>Gyula</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img [src]="hotel.imageUrl" alt="Hotel Image" />
      <p>Ár: {{ hotel.pricePerNight }} HUF / fő / éj</p>
      <p>
        Nyitva: {{ hotel.openingDate | date }} -
        {{ hotel.closingDate | date }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a routerLink="/hotel-detail/{{ hotel.id }}" mat-button>SZERKESZTÉS</a>
      <button mat-button>TÖRLÉS</button>
    </mat-card-actions>
  </mat-card>
  }
</div>
<button mat-button (click)="onScroll()">További hotelek betöltése</button>
